VITE_SUPABASE_URL=https://eywhwmdazsnfjkhdxwls.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_1p7EXhlrnfXsdQkDZy6XQQ_YR7pjMpW
NEXT_PUBLIC_SUPABASE_URL=https://eywhwmdazsnfjkhdxwls.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_1p7EXhlrnfXsdQkDZy6XQQ_YR7pjMpW
VITE_WHATSAPP_NUMBER=5491112345678
VITE_STORE_NAME="EmprendeStore - Tienda Multirrubro"
